{% extends 'base.html.twig' %}

{% block body %}
<!-- Masthead Avatar Image-->
<img class="masthead-avatar mb-5" src="{{ asset('/images/avataaars.svg') }}" alt="Heppie Kamper" />
<!-- Masthead Heading-->
<h1 class="masthead-heading text-uppercase mb-0">
    School de Heppie Kemper
</h1>
<!-- Icon Divider-->
<div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>
<!-- Masthead Subheading-->
<p class="masthead-subheading font-weight-light mb-0">
    Software Developer - IT Systems and Devices - Medewerker ICT Support
</p>
{% endblock %}
